.card__column--align-right {
  text-align: right;
}

.card__column {
  color: @grey-text;
  font-size: 12px;
  line-height: 1.33;
}

.card__title {
  color: @black-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
}
