.catalog-main__heading {
  color: @black-text;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  margin-top: 15px;
  margin-bottom: 29px;
}

.catalog-main__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .catalog-main__wrapper {
    width: 708px;
  }

  .catalog-main__heading {
    margin-top: 54px;
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: @desktop) {
  .catalog-main__wrapper {
    width: 1220px;
  }

  .catalog-main__heading {
    margin-top: 70px;
    font-size: 60px;
    line-height: 1;
  }
}
