.contacts-list {
  list-style: none;
  margin: 0;
  margin-top: 34px;
  padding: 0;
}

.contacts-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.contacts-list__input {
  flex-grow: 1;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 13px;
  margin-left: 12px;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .contacts-list {
    margin-top: 76px;
    padding-left: 2px;
  }

  .contacts-list__item {
    margin-bottom: 21px;
  }

  .contacts-list__item:last-child {
    margin-left: -3px;
  }

  .contacts-list__item:last-child .contacts-list__input {
    margin-left: 15px;
  }

  .contacts-list__input {
    margin-left: 18px;
    padding-top: 12px;
    padding-left: 19px;
  }
}

@media (min-width: @desktop) {
  .contacts-list {
    display: flex;
  }
}
