.covenant {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-top: 27px;
  padding-bottom: 24px;
}

.covenant__important {
  width: 125px;
  color: @black-text;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
}

.covenant__address {
  width: 139px;
  color: @grey-text;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  font-style: normal;
}

.covenant__top-space {
  display: block;
  text-align: left;
}

@media (min-width: @tablet) {
  .covenant {
    margin-top: 66px;
    padding-bottom: 54px;
    width: 625px;
  }

  .covenant__important {
    width: 155px;
    font-size: 20px;
  }

  .covenant__address {
    margin-top: -3px;
    width: 155px;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  .covenant__address-space {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 1300px) {
  .covenant {
    width: auto;
    padding-bottom: 58px;
  }

  .covenant__address {
    text-align: left;
  }
}
