.form-main__wrapper {
  width: 280px;
  margin: 0 auto;
}

.form-main__heading {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  color: @black-text;
}

.form-main__desc {
  width: 230px;
  font-size: 14px;
  line-height: 1.29;
  color: @black-text;
  text-transform: uppercase;
}

@media (min-width: @tablet) {
  .form-main__wrapper {
    width: 708px;
    padding: 0 40px;
  }
}

@media (min-width: @desktop) {
  .form-main__wrapper {
    width: 1220px;
    padding: 0 0;
  }
}
