.form-section__form {
  font-size: 16px;
  line-height: 1.13;
  color: @black-text2;
  text-transform: uppercase;

  ::-webkit-input-placeholder {
    color: @grey-text;
  }

  ::-moz-placeholder {
    color: @grey-text;
  }

  :-moz-placeholder {
    color: @grey-text;
  }

  :-ms-input-placeholder {
    color: @grey-text;
  }
}

.form-section__data {
  .fieldset();
}

.form-section__contacts {
  .fieldset();
  margin-top: 48px;
}

.form-section__title {
  font-size: 24px;
  line-height: 1;
  text-transform: none;
}

.form-section__contacts-heading {
  position: relative;
  width: 183px;

  &::after {
    content: "";
    position: absolute;
    width: 99px;
    height: 3px;
    background-color: @green;
    top: 14px;
    right: -118px;
  }
}

.form-section__target {
  .fieldset();
  position: relative;
  margin-top: 29px;
  padding-top: 8px;
  padding-bottom: 8px;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 158px;
    top: -20px;
    left: -20px;
    border: 1px solid #ededed;
  }
}

.form-section__comments {
  .fieldset();
  margin-top: 14px;
}

.form-section__comments-heading {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 158px;
    height: 3px;
    background-color: @green;
    top: 14px;
    left: 142px;
  }
}

.form-section__comments-textarea {
  margin-top: 35px;
  resize: none;
  width: 280px;
  min-height: 150px;
  border-color: #cdcdcd;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 15px;
}

.form-section__more {
  .fieldset();
  margin-top: 26px;
}

.form-section__more-heading {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 136px;
    height: 3px;
    background-color: @green;
    top: 14px;
    right: -159px;
  }
}

.form-section__button-wrapper {
  margin-top: 26px;
}

.form-section__button {
  border: none;
  width: 280px;
  padding: 10px 0;
}

.form-section__explanation {
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 22px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: none;
}

@media (min-width: @tablet) {
  .form-section {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 37px;
  }

  .form-section__group-wrapper {
    padding-left: 2px;
  }

  .form-section__form {
    font-size: 20px;
    line-height: 1;
  }

  .form-section__target {
    margin-top: 78px;
    margin-left: 27px;
    margin-right: 27px;

    &::before {
      width: 630px;
      height: 196px;
      top: -26px;
      left: -28px;
    }
  }

  .form-section__title {
    font-size: 36px;
  }

  .form-section__contacts {
    margin-top: 103px;
  }

  .form-section__contacts-heading {
    width: auto;
  }

  .form-section__contacts-heading::after {
    width: 145px;
    top: 22px;
    right: -186px;
  }

  .form-section__contacts-heading::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: @green;
    top: 22px;
    left: -70px;
  }

  .form-section__comments {
    margin-top: 45px;
  }

  .form-section__comments-heading::after {
    width: 480px;
    top: 22px;
    left: 219px;
  }

  .form-section__comments-heading::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #68b738;
    top: 22px;
    left: -70px;
  }

  .form-section__comments-textarea {
    width: 631px;
    min-height: 174px;
    margin-top: 76px;
    padding-left: 19px;
    line-height: 1;
  }

  .form-section__more {
    margin-top: 64px;
  }

  .form-section__more-heading::after {
    width: 446px;
    top: 22px;
    right: -487px;
  }

  .form-section__more-heading::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #68b738;
    top: 22px;
    left: -70px;
  }

  .form-section__button-wrapper {
    display: flex;
  }

  .form-section__button {
    width: 283px;
    padding: 16px 0;
    font-size: 20px;
    line-height: 1;
  }

  .form-section__explanation {
    width: 181px;
    margin-top: 16px;
    margin-left: 62px;
    font-size: 16px;
    line-height: 1;
    text-align: left;
  }
}

@media (min-width: @desktop) {
  .form-section__group-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }

  .form-section {
    padding-left: 0;
  }

  .form-section__data {
    width: 570px;
  }

  .form-section__target {
    width: 570px;
    margin: 0;
    margin-top: 26px;
    margin-bottom: 21px;
    padding-top: 33px;
    padding-left: 28px;

    &::before {
      width: 570px;
      height: 196px;
      top: -2px;
      left: 0;
    }
  }

  .form-section__contacts {
    margin-top: 49px;
  }

  .form-section__contacts-heading::before {
    width: 70px;
    left: -110px;
  }

  .form-section__contacts-heading::after {
    width: 777px;
    right: -818px;
  }

  .form-section__comments {
    margin-top: 47px;
  }

  .form-section__comments-heading::before {
    width: 70px;
    left: -110px;
  }

  .form-section__comments-heading::after {
    width: 1112px;
    right: -818px;
  }

  .form-section__comments-textarea {
    width: 1220px;
  }

  .form-section__more {
    margin-top: 66px;
  }

  .form-section__more-heading::before {
    width: 70px;
    left: -110px;
  }

  .form-section__more-heading::after {
    width: 1078px;
    right: -1119px;
  }

  .form-section__button-wrapper {
    margin-top: 33px;
    padding-left: 1px;
  }

  .form-section__button {
    width: 568px;
    text-align: center;
  }

  .form-section__explanation {
    margin-left: 82px;
  }
}
