.goods__buy-all {
  background-color: @grey;
  color: @grey-text;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  text-transform: uppercase;
}

.goods__definition {
  color: @grey-text;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
}

.goods__title {
  color: @black-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

.goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet) {
  .goods__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
  }

  .goods__item {
    width: 324px;
  }
}

@media (min-width: @desktop) {
  .goods__list {
    width: 1220px;
  }

  .goods__item {
    width: 245px;
  }
}
