.info {
  margin-top: 16px;
  margin-bottom: 42px;
}

.info__heading {
  margin: 0;
  color: @black-text;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
}

@media (min-width: @tablet) {
  .info {
    margin-top: 46px;
  }

  .info__heading {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: @desktop) {
  .info {
    margin-top: 42px;
  }
}
