.main-header {
  padding-top: 13px;
}

.main-header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  // min-height: 65px;
}

.main-header__link[href] {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__button-menu {
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.main-header--closed-menu .main-header__button-menu {
  width: 25px;
  height: 19px;
  background-image: url("../img/icon-mobile-menu.svg");
}

.main-header--closed-menu .menu-list {
  display: none;
}

@media (min-width: @tablet) {
  .main-header--closed-menu .menu-list {
    display: flex;
  }

  .main-header__button-menu {
    display: none;
  }

  .main-header {
    display: flex;
    width: 708px;
    // padding: 0 30px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
  }

  .main-header__wrapper {
    width: 174px;
    display: block;
    margin: 0;
    min-height: auto;
    padding-bottom: 0;
  }

  .main-header--nav-color .menu-list__link--active::after {
    width: 152px;
  }
}

@media (min-width: @desktop) {
  .main-header {
    width: 1220px;
    padding-top: 45px;
  }

  .main-header--nav-color .menu-list__link {
    color: @black-text;

    &::after {
      width: 168px;
      background-color: @green;
    }
  }

  .main-header__wrapper {
    width: 210px;
    padding-bottom: 2px;
  }

  .main-header__logo-image {
    width: 203px;
  }
}
