.main-footer {
  background-color: @grey;
  padding-top: 39px;
  padding-bottom: 16px;
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  // padding: 0 20px;
  text-align: center;
}

.main-footer__logo-container {
  margin-bottom: 31px;
}

.main-footer__link[href]:hover {
  opacity: 0.8;
}

.main-footer__link[href]:active {
  opacity: 0.6;
}

.main-footer__creator {
  font-family: "Arial", sans-serif;
  color: @grey-text;
  font-size: 16px;
  line-height: 1;
}

.main-footer__copyright {
  margin-top: 14px;
}

.main-footer__creator-link {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;

  &:hover .main-footer__creator-image {
    path {
      fill: @green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet) {
  .main-footer__wrapper {
    width: 708px;
    // padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop) {
  .main-footer__wrapper {
    width: 1220px;
    // padding: 0 40px;
  }
}
