.map__pic {
  margin: 0 auto;
  width: 320px;
  line-height: 0;
  font-size: 0;
}

.map__wrapper--bg {
  background-color: @grey;
}

@media (min-width: @tablet) {
  .map__pic {
    width: 708px;
    // Временно сделал 708 так как карта резиновая
  }
}
