.map {
  margin-top: 34px;
}

.map__pic {
  position: relative;
  margin: 0 auto;
  margin-top: -36px;
  width: 320px;
  line-height: 0;
  font-size: 0;
  // z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    top: 176px;
    left: 129px;
  }
}

.map__wrapper--bg {
  position: relative;
  padding-top: 1px;
  background-color: @grey;
  z-index: 2;
}

@media (min-width: @tablet) {
  .map__pic {
    width: 708px;
    // Временно сделал 708 так как карта резиновая
  }
}
