.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 23px;
  color: @black-text;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover[href] {
    opacity: 0.6;
  }

  &:active[href] {
    opacity: 0.3;
  }
}

.menu-list__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: @tablet) {
  .menu-list {
    display: flex;
    width: 470px;
    justify-content: space-between;
    align-items: center;
  }
}
