@media (min-width: @tablet) {
  .programs {
    width: 708px;

    .programs__mass {
      padding-top: 75px;
    }
  }

  .program__link::before {
    left: 125px;
  }


  .programs__slim {
    // padding-bottom: 40px;
    margin-bottom: 30px;

    .program__link::before {
      left: 130px;
    }
  }

  .programs__slim .program__desc {
    width: 375px;
  }

  .programs__mass .program__desc {
    width: 340px;
  }
}

@media (min-width: @desktop) {
  .programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -57px;
    width: 1220px;
  }

  .programs__mass .program__desc {
    width: 450px;
  }

  .programs__slim .program__desc {
    width: 465px;
  }

  .programs__slim {
    margin-bottom: 0;

    // .program__link::before {
    //   left: 130px;
    // }
  }
}
