.slogan {
background-image: url("../../../img/index-background-mobile@1x.jpg");
background-position: 0 0;
background-repeat: no-repeat;
margin-bottom: 22px;
}

.slogan__desc {
  color: white;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.slogan__link {
  background-color: @green;
  color: white;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
