.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-list__link {
  display: block;
}

.social-list__vk {
  width: 22px;
  height: 12px;
  background-image: url("../img/icon-vk.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-list__inst {
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-insta.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-list__fb {
  width: 10px;
  height: 19px;
  background-image: url("../img/icon-fb.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

