@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src:
  url("../fonts/oswaldregular.woff2") format("woff2"),
  url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src:
  url("../fonts/oswaldmedium.woff2") format("woff2"),
  url("../fonts/oswaldmedium.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@import "normalize.less";
@import "variables.less";
@import "mixin.less";
@import "blocks/info/info.less";
@import "blocks/info/info__desc.less";
@import "blocks/info/info__heading.less";
@import "blocks/info/info__item.less";
@import "blocks/info/info__list.less";
@import "blocks/main-content/main-content.less";
@import "blocks/main-content/main-content__heading.less";
@import "blocks/main-footer/main-footer.less";
@import "blocks/main-footer/main-footer__coopyright.less";
@import "blocks/main-footer/main-footer__creator-image.less";
@import "blocks/main-footer/main-footer__creator-link.less";
@import "blocks/main-footer/main-footer__creator-logo.less";
@import "blocks/main-footer/main-footer__creator.less";
@import "blocks/main-footer/main-footer__link.less";
@import "blocks/main-footer/main-footer__logo-container.less";
@import "blocks/main-footer/main-footer__logo-image.less";
@import "blocks/main-header/main-header.less";
@import "blocks/main-header/main-header__link.less";
@import "blocks/main-header/main-header__logo-container.less";
@import "blocks/main-header/main-header__logo-image.less";
@import "blocks/main-header/main-header__open-menu.less";
@import "blocks/menu-list/menu-list.less";
@import "blocks/menu-list/menu-list__item.less";
@import "blocks/menu-list/menu-list__link.less";
@import "blocks/program/program.less";
@import "blocks/program/program__desc.less";
@import "blocks/program/program__heading--mass.less";
@import "blocks/program/program__heading--slim.less";
@import "blocks/program/program__heading.less";
@import "blocks/program/program__link.less";
@import "blocks/programs/programs.less";
@import "blocks/slogan/slogan.less";
@import "blocks/slogan/slogan__can.less";
@import "blocks/slogan/slogan__desc.less";
@import "blocks/slogan/slogan__image.less";
@import "blocks/slogan/slogan__link.less";
@import "blocks/social-list/social-list.less";
@import "blocks/social-list/social-list__item.less";
@import "blocks/social-list/social-list__link.less";
@import "blocks/list-style.less";
@import "blocks/visually-hidden.less";
@import "blocks/button.less";
@import "blocks/card/card.less";
@import "blocks/card/card__buy-link.less";
@import "blocks/card/card__column.less";
@import "blocks/card/card__desc.less";
@import "blocks/card/card__image-container.less";
@import "blocks/card/card__image.less";
@import "blocks/card/card__line.less";
@import "blocks/card/card__table.less";
@import "blocks/card/card__title.less";
@import "blocks/card/card__wrapper.less";
@import "blocks/catalog-main/catalog-main.less";
@import "blocks/catalog-main/catalog-main__heading.less";
@import "blocks/goods/goods.less";
@import "blocks/goods/goods__background-plus.less";
@import "blocks/goods/goods__buy-all.less";
@import "blocks/goods/goods__definition.less";
@import "blocks/goods/goods__item.less";
@import "blocks/goods/goods__list.less";
@import "blocks/goods/goods__more.less";
@import "blocks/goods/goods__title.less";
@import "blocks/card/card__column--align-right.less";

body {
  font-family: "Oswald", Arial, sans-serif;
}
